.buttonDefault {
    width: 300px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}

.buttonDefault:hover {
    cursor: pointer;
    color: #000000;
}

.primary {
    border: 2px solid #ffaa00;
    color: #ffaa00;
}

.primary:hover {
    background-color:#ffaa00;
}

.secondary {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.secondary:hover {
    background-color:#ffffff;
}

.delete {
    border: 2px solid #b80000;
    background-color: #b80000;
    color: #ffffff;
}