.errorOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: fit-content;
    border: 2px solid #ffaa00;
    border-radius: 10px;
    padding: 25px;
    background-color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.error h2 {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
}

.error p {
    font-size: 16px;
    font-weight: 400;
}

.error button {
    width: 100%;
    margin-top: 25px;
}

@media only screen and (max-width: 1024px) {

    .error {
        width: 300px;
    }

}