.outCome {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.outCome p {
    margin-bottom: 25px;
}

.outCome label {
    text-align: left;
    margin-bottom: 5px;
}

.outCome input {
    margin-bottom: 10px;
}

.outCome input:last-child {
    margin-bottom: 0;
}