.placements {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.placements p {
    margin-bottom: 25px;
}

.placements label {
    text-align: left;
    margin-bottom: 5px;
}

.placements input{
    margin-bottom: 10px;
}

.placements input:last-child{
    margin-bottom: 0;
}