.analysis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 81px);
    padding: 100px;
    background-color: #000000;
}

.analysis h1 {
    margin-bottom: 50px;
}

.analysis div {
    width: 600px;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 25px;
    background-color: #222222;
}

.analysis div:last-child {
    margin-bottom: 0;
}

.analysis div h2 {
    margin-bottom: 25px;
}

.analysis div h3 {
    border-top: 2px solid #ffffff;
    padding: 25px 0 0 0;
    margin: 25px 0;
}

.analysis div p {
    margin-bottom: 10px;
}

.analysis div p:last-child {
    margin-bottom: 0;
}

.analysis div div {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid #ffffff;
    padding: 25px 0 0 0;
    margin-top: 25px;
}