.analysis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 81px);
    padding: 100px;
    background-color: #000000;
}

.analysis h1 {
    margin-bottom: 50px;
}

.analysis div {
    width: 600px;
    margin-bottom: 25px;
    padding: 25px;
    background-color: #222222;
}

.analysis div:last-child {
    margin-bottom: 0;
}