.editRecieves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 81px);
    padding: 100px;
    background-color: #000000;
}

.editRecieves h1 {
    margin-bottom: 50px;
}