.myOpponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 81px);
    padding: 100px;
    background-color: #000000;
}

.myOpponents h1 {
    margin-bottom: 50px;
}

.myOpponents input {
    margin: 50px 0;
}

.myOpponents a {
    color: #ffaa00;
}

@media only screen and (max-width: 1024px) {
    
    .myOpponents {
        padding: 100px 30px;
    }

    .myOpponents h1 {
        text-align: center;
    }

    .myOpponents p {
        text-align: center;
    }

}