.selectOpponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 81px);
    padding: 100px;
    background-color: #000000;
}

.selectOpponent h1 {
    margin-bottom: 50px;
}

.selectOpponent a {
    color: #ffaa00;
}

.selectOpponent button {
    margin-top: 50px;
}

.loading {
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    
    .selectOpponent {
        padding: 100px 30px;
    }

    .selectOpponent h1 {
        text-align: center;
    }

    .selectOpponent p {
        text-align: center;
    }

}