* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-search-cancel-button{
  filter: brightness(0) invert(1);
}