.dateForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.dateForm label {
    margin-bottom: 5px;
}

.dateForm button {
    margin-top: 50px;
}

.loading {
    margin-top: 25px;
    text-align: center;
}