.forehandRecievesForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.forehandRecievesForm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forehandRecievesForm div p {
    margin: 25px 0 10px 0;
}

.forehandRecievesForm button {
    margin-top: 50px;
}