.opponentForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.opponentForm p {
    margin-bottom: 10px;
}

.opponentForm input {
    margin-bottom: 10px;
}

.opponentForm input:last-child {
    margin-bottom: 0;
}

.opponentForm button {
    margin-top: 50px;
}