.opponentForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.opponentForm label {
    margin-bottom: 5px;
}

.opponentForm input {
    margin-bottom: 20px;
}

.opponentForm input:last-of-type {
    margin-bottom: 0;
}

.opponentForm button {
    margin-top: 50px;
}