.ralliesForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.ralliesForm label {
    margin-bottom: 5px;
}

.ralliesForm input:first-of-type {
    margin-bottom: 20px;
}

.ralliesForm button {
    margin-top: 50px;
}