.recievesForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.recievesForm label {
    margin-bottom: 5px;
}

.recievesForm input:first-of-type {
    margin-bottom: 20px;
}

.recievesForm button {
    margin-top: 50px;
}

.loading {
    margin-top: 25px;
    text-align: center;
}