.recievesForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.recievesForm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recievesForm div p {
    margin: 25px 0 10px 0;
}

.recievesForm button {
    margin-top: 50px;
}