.scoreForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.scoreForm label {
    margin-bottom: 5px;
}

.scoreForm input {
    margin-bottom: 20px;
}

.scoreForm input:last-of-type {
    margin-bottom: 0;
}

.scoreForm button {
    margin-top: 50px;
}

.loading {
    margin-top: 25px;
    text-align: center;
}