.servesForm {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.servesForm label {
    margin-bottom: 5px;
}

.servesForm input:first-of-type {
    margin-bottom: 20px;
}

.servesForm button {
    margin-top: 50px;
}

.loading {
    margin-top: 25px;
    text-align: center;
}